.topbar{
  display: block;
  position: static;
  padding: .2%;
  font-size: 12px;
  background: rgb(52,58,64);
 background: linear-gradient(90deg, rgba(52,58,64,1) 40%, #0b0b0b 100%);
  text-align: right;
}
.login-signup{
  color: white;
  text-decoration: none;
  margin-right: 10px;
}
.signup{
  margin-right: 10px;
}
.login-signup:hover{
  filter: brightness(0) saturate(100%) invert(58%) sepia(66%) saturate(1047%) hue-rotate(359deg) brightness(105%) contrast(103%);
  text-decoration: none;
}
#user-logo{
  margin-right: 60px;
  width: 12px;
  color: white;
  filter: brightness(0) saturate(100%) invert(100%) sepia(12%) saturate(7454%) hue-rotate(205deg) brightness(114%) contrast(112%);;
}
